<div style="text-align: center">

  <button mat-raised-button color="primary" style="margin: 0 10px;" [routerLink] ="['/auth/login']">
    bejelentkezés
  </button>

  <button mat-raised-button color="accent" style="margin: 0 10px;" [routerLink] = "['auth/signup']">
regisztráció
  </button>
</div>



<div id="maintext">
<h1>Üdvözlünk a Biztosítási Kérdőív Portálon!</h1>
<p>
A kérdőívek kitöltése csak regisztrált felhasználóink számára érhető el.
Ez azért szükséges, hogy az általad megadott adatokat biztonságosan és rendszerezetten tudjuk kezelni, valamint munkatársaink gyorsabban feldolgozhassák a beérkező válaszokat.
</p>
<p>
A regisztráció egyszerű és mindössze néhány percet vesz igénybe.
Miután létrehoztad a fiókodat, azonnal hozzáférsz a számodra megfelelő kérdőívekhez.
</p>
<p>
Bármilyen probléma vagy kérdés esetén fordulj hozzánk bizalommal az alábbi e-mail címen:
📧 ugyfelszolgalat@biztositasikerdov.hu
</p>
Kezdjük a regisztrációval!
</div>



<div class="slideshow-container ">
  <div class="slide" *ngFor="let item of images; let i = index" 
       [class.active]="i === currentIndex">
    <img [src]="'/welcomepage/' + item" [alt]="'Slide ' + (i + 1)">
  </div>

  <button class="nav-button prev" (click)="prevSlide()">‹</button>
  <button class="nav-button next" (click)="nextSlide()">›</button>

  <div class="indicators">
    <span *ngFor="let item of images; let i = index" 
          class="indicator" 
          [class.active]="i === currentIndex"
          (click)="goToSlide(i)"></span>
  </div>
</div>

