<app-navbar></app-navbar>

<div class="loading-spinner" *ngIf="isLoading">
  <mat-spinner id="spinner"></mat-spinner>
  <p>Adatok betöltése...</p>
</div>

<div *ngIf="loadError" class="error-message">
  <p>Hiba történt az adatok betöltésekor.</p>
  <button mat-raised-button color="primary" (click)="retryLoad()">Újrapróbálkozás</button>
</div>

<form *ngIf="!isLoading && !loadError" [formGroup]="surveyForm" (ngSubmit)="submitForm()" class="casco-form">
  <h2>Kgfb biztosítási ajánlathoz szükséges adatok</h2>
   <p class="note"><strong>Megjegyzés:</strong> Forgalmi engedély másolata esetén nem szükséges a járműadatokat kitölteni. Elég az űrlap alján lévő résznél feltölteni.</p>
  <div class="grid">
    <!-- Személyes adatok -->
    <mat-form-field appearance="fill">
      <mat-label>Szerződő neve*</mat-label>
      <input matInput formControlName="szerzodoNev" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('szerzodoNev')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Telefon*</mat-label>
      <input matInput  type="number" formControlName="telefon" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('telefon')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Állandó lakcím / székhely*</mat-label>
      <input matInput formControlName="szerzodoCim" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('szerzodoCim')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Születési dátum*</mat-label>
      <input matInput type="date" formControlName="szuletesiDatum" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('szuletesiDatum')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Édesanya leánykori neve*</mat-label>
      <input matInput formControlName="anyjaNeve" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('anyjaNeve')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adószám (cég esetén )</mat-label>
      <input matInput formControlName="cegAdoszam" [disabled]="isSubmitted">
    </mat-form-field>

    <!-- Jármű adatok -->
    <mat-form-field appearance="fill">
      <mat-label>Rendszám*</mat-label>
      <input matInput formControlName="rendszam" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('rendszam')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Alvázszám*</mat-label>
      <input matInput formControlName="alvazszam" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('alvazszam')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Forgalmi engedély száma*</mat-label>
      <input matInput formControlName="forgalmiSzam" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('forgalmiSzam')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Járműkategória*</mat-label>
      <input matInput formControlName="jarmuKategoria" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('jarmuKategoria')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gépjármű gyártmánya*</mat-label>
      <input matInput formControlName="gyarto" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('gyarto')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pontos típus*</mat-label>
      <input matInput formControlName="tipus" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('tipus')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gyártási év*</mat-label>
      <input matInput type="number" formControlName="gyartasiEv" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('gyartasiEv')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hengerűrtartalom (cm³)*</mat-label>
      <input matInput type="number" formControlName="hengerurtartalom" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('hengerurtartalom')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teljesítmény (LE)*</mat-label>
      <input matInput type="number" formControlName="teljesitmeny" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('teljesitmeny')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Üzemanyag típusa*</mat-label>
      <input matInput formControlName="uzemanyag" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('uzemanyag')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kilométeróra aktuális állása*</mat-label>
      <input matInput type="number" formControlName="kmAllas" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('kmAllas')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bonus-malus fokozat*</mat-label>
      <input matInput type="number" formControlName="BonusMalus" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('BonusMalus')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>

      <mat-form-field appearance="fill">
      <mat-label>Kártörténeti adatok*</mat-label>
      <input matInput type="number" formControlName="kartortenetiAdatok" [disabled]="isSubmitted">
      <mat-error *ngIf="surveyForm.get('kartortenetiAdatok')?.invalid">Kötelező mező</mat-error>
    </mat-form-field>
  </div>

  <div class="form-section">
    <mat-label>Casco szerződéskötés oka*</mat-label>
    <mat-radio-group formControlName="szerzodesOka" class="radio-group" [disabled]="isSubmitted">
      <mat-radio-button value="tulajdonszerzes">Gépjármű tulajdonjogának és üzembentartói jogának megszerzése</mat-radio-button>
      <mat-radio-button value="biztositovaltas">Biztosítóváltás</mat-radio-button>
      <mat-radio-button value="egyeb">Egyéb</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="surveyForm.get('szerzodesOka')?.invalid">Kötelező mező</mat-error>
  </div>

  <!-- Kép feltöltése -->
  <div class="form-section">
    <h3>Forgalmi engedély feltöltése</h3>
    <div class="form-group">
      <label>Forgalmi engedély kép feltöltése</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="isSubmitted" />
      <div *ngIf="isUploading" class="upload-progress">
        <p>Feltöltés folyamatban: {{uploadProgress}}%</p>
        <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
      </div>
    </div>

    <!-- Kép előnézet -->
    <div *ngIf="selectedImageUrl" class="image-preview">
      <p>Feltöltött kép előnézete:</p>
      <img [src]="selectedImageUrl" alt="Forgalmi engedély kép" />
      <p *ngIf="uploadedImageUrl" class="image-url">
        <a [href]="uploadedImageUrl" target="_blank">Kép megnyitása új lapon</a>
      </p>
    </div>
 
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="surveyForm.invalid || isSubmitting || isUploading">
      {{ hasExistingResponse ? 'Frissítés' : 'Küldés' }}
      <mat-spinner *ngIf="isSubmitting" diameter="20" class="button-spinner"></mat-spinner>
    </button>

    <button *ngIf="isSubmitted" mat-raised-button color="accent" type="button" (click)="enableEditing()" [disabled]="isSubmitting">
      Módosítás
    </button>
  </div>
</form>